<h1> Welcome to the home page </h1>


    <div class="container-fluid">
      <div class="row-fluid">		
		    <div class="span3">Banks</div>
		    <div class="span3">Clothing</div>
		    <div class="span3">Restaurants & Cafes</div>
		    <div class="span3">Hotels</div>
      </div>
      <hr>
	    Feed showing latest discounts or something or whats what famous for
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/bootstrap.js"></script>